<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h3><form action="signup" method="POST">

        {% csrf_token %}
                <label>Enter your username:</label><input type="text" name='username' max_length="35"><br><br>

            <label>Enter your password:</label><input type="text"name='password' max_length="35"><br><br>

        <input type="submit" value="Signup">
        



    </h3></form>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="submit" value="login">


</form> </center>
</body>
</html>